<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= @user.name %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/logout">Logout</a></li>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="title">
</div>
<hr/>
<div class="wall">
  <h1>Post a Song</h1>
  <% if @song.errors.any? %>
    <div class="errors">
      <strong>Some issues with your song, please fix them:</strong>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <form method="post" action="/songs" class="input">
      <div class="author">
        <label>Author: </label>
        <input type="text" name="author" value="<%= @song.author %>">
      </div>
      <div class="song">
        <label>Song:   </label>
        <input type="text" name="song_title" value="<%= @song.song_title %>">
      </div>
      <div class="url">
        <label>URL:    </label>
        <input type="text" name="song_url" value="<%= @song.song_url %>">
      </div>
      <div class="button">
        <input type="submit" name="Submit">
      </div>
    </form>
  </div>
</div>